/*FONTS*/
@font-face {
  font-family: "TT Commons Regular";
  src: url("../fonts/TypeType-TTCommonsRegular.woff") format("woff"),
  url("../fonts/TypeType-TTCommonsRegular.otf") format("opentype");
}
@font-face {
  font-family: 'TT Commons Medium';
  src: url("../fonts/TypeType-TTCommonsMedium.woff") format("woff"),
       url("../fonts/TypeType-TTCommonsMedium.otf") format("opentype");
}
@font-face {
  font-family: 'TT Commons Medium Italic';
  src: url("../fonts/TypeType-TTCommonsMediumItalic.woff") format("woff"),
       url("../fonts/TypeType-TTCommonsMediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "TT Commons Bold";
  src: url("../fonts/TypeType-TTCommonsBold.woff") format("woff"),
       url("../fonts/TypeType-TTCommonsBold.otf") format("opentype");
}

body {
  background: #FFFFFF;
  padding-top: 53px;
}

h1 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
}
h2 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;
  color: #061058;
}
h3 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #061058;
}
h4 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #061058;
}
h5 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #061058;
}
h6 {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #061058;
}
p {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
li{
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #878C97;
}


/*UNIVERSAL*/
.dark {
  color: #878C97;
}
.medium{
  color:#878C97;
}
.light{
  color: #FFFFFF;
}
.alpha {
  opacity: 0.8;
}
.text-link {
  font-family: 'TT Commons Medium Italic', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color:#7D50FF;
}



/*NAVBAR*/
.navbar{
  background-color: white;
}
.navbar li {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-size: 14px;
}
.navbar li a {
  color: #212B36;
}
.navbar-btn {
  display: inline-block;
  color: white !important;
  background-color: #7D50FF;
  padding: 9px 0px;
  width: 100px;
}
.navbar .navbar-toggler .icon-bar {
    color: pink !important;
}
.nav-logo{
  width: 166px;
  height: auto;
}


/*Use Data. Preserve Privacy. */
.masthead{
  padding-bottom: 180px;
}
.use-data {
  padding-top: 175px;
}
.icons{
  width: 50px;
  height: auto;
}
.gradient{
  background: linear-gradient(235.22deg, #3F3F3F 0%, #101010 100%);
}
.masthead-btn {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #7D50FF;
  padding: 9px 0px;
  width: 120px;
  box-shadow: 0px 20px 20px rgba(16, 16, 16, 0.1);
}
.masthead-btn:hover {
  color: #FFFFFF;
}
.masthead-icon {
  width: 30px;
  height: 30px;
}


/*DIFFERENTIAL PRIVACY*/
.differential-privacy{
  position: relative;
  z-index: 5000;
  margin-top: 0px;
}
.differential-privacy h2.top{
  padding-top: 75px;
}
li.icon-01 {
background: url('../images/icon-4.png') no-repeat left 0px;
background-size: 40px 40px;
padding-left: 50px;
display: block;
}
li.icon-02 {
background: url('../images/icon-5.png') no-repeat left 0px;
background-size: 40px 40px;
padding-left: 50px;
display: block;
margin-bottom: 1em;
}


/*WhiteNoise*/
.white-noise h2.top{
  padding-top: 75px;
}
.white-noise-icons {
  display: block;
  width: 50px;
  height: 50px;
}


/*Native Runtime Library*/
.gradient-2{
  background: linear-gradient(247.3deg, #3F3F3F 0%, #101010 100%);
}
.native-runtime-library{
  padding-top: 85px;
}
.native-runtime-library-icons {
  display: block;
  width: 40px;
  height: 40px;
}



/*Preserving Privacy*/
.preserving-privacy{
  padding-top:80px;
}
.preserving-privacy h2{
  padding-bottom:130px;
}
.preserving-privacy-icon{
  display: block;
  width: 340px;
  height: auto;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
}
.preserving-privacy li {
  font-family: 'TT Commons Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: red;
}
li.check-icon {
color: #878C97;
background: url('../images/check-icon.png') no-repeat  0 5px;
background-size: 13px 10px;
padding-left: 25px;
display: block;
}
.preserving-privacy-1{
padding-bottom: 90px;
}
.preserving-privacy-2{
padding-bottom: 110px;
}


/*Getting Started*/
.getting-started{
  padding-top: 110px;
  padding-bottom: 80px;
}
.getting-started-btn {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #7D50FF;
  padding: 9px 0px;
  margin: 0px 9px;
  width: 140px;
  box-shadow: 0px 20px 20px rgba(16, 16, 16, 0.1);
}
.getting-started-btn:hover {
  color: #FFFFFF;
}

/*Contribute white noise*/
.contribute-white-noise{
  padding-top: 115px;
  padding-bottom: 110px;
}
.contribute-white-noise-icon{
  width: 50px;
  height: auto;
}
.contribute-white-noise-btn {
  font-family: 'TT Commons Bold', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #7D50FF;
  padding: 9px 0px;
  margin: 0px 9px;
  width: 140px;
  box-shadow: 0px 20px 20px rgba(16, 16, 16, 0.1);
}
.contribute-white-noise-btn:hover {
  color: #FFFFFF;
}



/*FOOTER*/
.gradient-footer{
background: linear-gradient(20deg, #3F3F3F 0%, #101010 100%);
}
.footer{
  padding-top: 80px;
  padding-bottom: 40px;
}
.p-2{
  color:#FFFFFF;
}
.footer-nav{
  list-style: none;
  padding: 0px;
}
.footer-nav .nav-link{
  padding: 8px 0px 8px 0px;
}
.page-footer{
  background-color: #FFFFFF;
}
.footer-btn-transparent{
  font-family: 'TT Commons Medium', Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 100px;
  padding: 9px 0px;
}
.footer-btn-transparent:hover{
  color: #FFFFFF;
}
.footer-logo{
  width:169px;
  height: auto;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .card{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .differential-privacy{
  position: relative;
  z-index: 5000;
  margin-top: -160px;
  }
  .inner-box {
    background-color: white;
    box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.04);
  }
}

@media (min-width: 1200px){
.container {
    max-width: 1280px;
}